<!DOCTYPE html>
<html lang="en">
	<head>

        <!-- Meta Tags -->

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
		<title>Frontend | Nucleus</title>
		<meta name="description" content="Premium HTML5 Template">
		<meta name="keywords" content=" HTML5, Premium Template, Nucleus Theme">
		<meta name="author" content="Amazyne Themes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Favicon -->

		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!-- Loading Google Fonts --> 

		<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>

		<!-- Loading Third Party Styles --> 

		<link rel="stylesheet" href="third-party/bootstrap/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="third-party/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="third-party/et-line/css/style.css">
		<link rel="stylesheet" href="third-party/elegant-icons/css/style.css">
		<link rel="stylesheet" href="third-party/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" href="third-party/pe-icon-7-stroke/css/helper.css">
		<link rel="stylesheet" href="third-party/nivo-lightbox/css/nivo-lightbox.css" /> 
		<link rel="stylesheet" href="third-party/nivo-lightbox/themes/default/default.css"/>
		<link rel="stylesheet" href="third-party/animate/css/animate.css"> 
		<link rel="stylesheet" href="third-party/owl/css/owl.carousel.css"> 
		<link rel="stylesheet" href="third-party/owl/css/owl.theme.css">
		<link rel="stylesheet" href="third-party/form-validation/css/formValidation.min.css">		
		
		<!-- Loading Theme's Styles -->

		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/custom.css">

		<!-- Script for IE < 9 -->

		<!--[if lt IE 9]>
		<script src="third-party/respond/js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="frontend one-page">

		<!-- Page Loader -->

		<div class="loader">
			<div class="spinner"></div>
		</div><!-- End of Page Loader -->
		
		<!-- Page Content + Uncover Footer Body -->
		
		<div class="page-content">
		
            <!-- Header - Top -->

            <header class="navigation nav-green nav-normal">	
            
                <!-- Header Wrapper -->

                <div class="main-nav nav-icons-right header-icons header-right sticky full-width">
                    <div class="navbar navbar-default" role="navigation">
						<div class="container active">
							<div class="navbar-header">
                                <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <ul class="bar-icon-wrapper">
                                        <li class="bar-icon"></li>
                                        <li class="bar-icon"></li>
                                        <li class="bar-icon"></li>
                                    </ul>
								</a><!-- Logo -->

								<a class="logo" href="index.html">
									<img alt="image" src="images/logo.png" />
								</a>
							</div>
                            <div class="navbar-icons">
								<ul class="nav navbar-nav navbar-right">
									
									<li>
										<a class="btn btn-theme-inverse pad-right-15 pad-top-5 pad-bot-5 mar-top-10-tablet mar-top-10-mobile" href="login-register-1.html">Login</a>
									</li>
								</ul>
                            </div>
                            <div class="navbar-container">
								<div class="navbar-collapse nav-collapse collapse collapsing-nav">

									<!-- Header Links -->

									<ul class="nav navbar-nav">

										<li class="active">
											<a href="#home">Home</a>
										</li>

										<li>
											<a href="#features">Features</a>
										</li>

										<li>
											<a href="#pricing">Pricing</a>
										</li>

										<li>
											<a href="#contact">Contact</a>
										</li>
									</ul>
								</div>
							</div>
                        </div>
                    </div>
				</div>
			</header> <!-- End of Header -->
			
			<!-- One Page Section - Home -->
			
			<div class="theme-background-section fs-overlay full-screen one-page-section" id="home" style="background-image:url('images/frontend-bg.jpg'); background-position:50%;" data-custom-height="" data-offset-container=".navigation">
				<div class="content-container">
					<div class="content-inner-container">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 text-center">
									<img alt="image" class="center-block img-responsive mar-bot-10 mar-top-50 wow animated fadeInDown" data-wow-delay="1000ms" src="images/logo.png"/>
									<h2 class="text-uppercase letter-spacing-3 no-margin pad-bot-30 word-spacing-5 color-green wow animated fadeIn" data-wow-delay="1600ms"><b>The Fully Featured Bootstrap Admin</b></h2>
									<p class="no-margin pad-bot-30 text-vertical-large letter-spacing-1 text-light wow animated fadeIn" data-wow-delay="2200ms"><i>
									UI Designs that identifies your passion and speaks your style
									UI Designs that identifies your passion and speaks your style
									UI Designs that identifies your passion and speaks your style</i></p>
									<div class="btn-curtain btn-curtain-light mar-bot-50 wow animated fadeInUp" data-wow-delay="2800ms">
										<a target="_blank" href="https://wrapbootstrap.com/theme/nucleus-responsive-admin-frontend-WB05L5DH1" class="btn btn-lg letter-spacing-3">Buy Now</a>		
									</div>  
								</div>
							</div>
						</div>
						<div class="one-page-intro-jump">
							<a href="#features" class="jump intro-center" data-jump-offset="60"><img alt="image" class="center-block" src="images/scroll.png"/></a>
						</div>
					</div>
				</div>
			</div><!-- End of Custom Theme Background Section + One Page Section - Home -->
			
			<!-- One Page Section - Features -->
			
			<div id="features" class="one-page-section">
				
				<div class="container-fluid pad-top-bot-100">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 pad-bot-100">
										
							<!-- Vertically Centered Content Box - Desktop + Tablet -->
								
							<div class="row vertical-center-box vertical-center-box-tablet">
								<div class="col-sm-4 wow animated slideInLeft text-right text-center-mobile" data-wow-delay="200ms">									
									
									<h1 class="pe-7s-gleam img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
									<h4><i>Super Easy</i></h4>
									<p class="text-vertical-large">Lorem ipsum dolor sit amet, consectetur. Ut nec hinc dolor possim.Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.</p>
										
									<h1 class="pe-7s-ribbon img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
									<h4><i>Well Documented</i></h4>
									<p class="text-vertical-large">Ut nec hinc dolor possim.Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Lorem ipsum dolor sit amet.</p>
																			
								</div>
								<div class="col-sm-4">
									<img alt="img" class="img-responsive center-block" src="images/frontend-screenshot.png"/>
								</div>
								<div class="col-sm-4 wow animated slideInRight text-center-mobile" data-wow-delay="200ms">
								
									<h1 class="pe-7s-timer img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
									<h4><i>Fast Deliveries</i></h4>
									<p class="text-vertical-large">Ut nec hinc dolor possim.Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Lorem ipsum dolor sit amet, consectetur.</p>
									<h1 class="pe-7s-like img-rounded text-light bg-green pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
									<h4><i>Loving support</i></h4>
									<p class="text-vertical-large">Lorem ipsum dolor sit amet. Ut nec hinc dolor possim.Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.</p>
										
								</div>
							</div><!-- End of Vertically Centered Content Box - Desktop +Tablet -->
						</div>
					</div>
				</div>
			
				<!-- Full-width Promo Box - Light Background + CTA Image Up -->
			
				<div style="background-color:#1f232b;">
					<div class="container-fluid">
						<div class="row promo text-left pad-bot-100">
							<div class="col-xs-10 col-xs-offset-1">
								<img alt="image" class="img-responsive center-block cta-image-up mar-bot-100 wow animated fadeInUpBig" data-wow-delay="200ms" src="images/frontend-screenshot-1.png"/>
								<div class="">
									<div class="row vertical-center-box vertical-center-box-tablet">
										<div class="col-sm-6">
											<img alt="image" class="img-responsive center-block wow animated fadeInLeft" data-wow-delay="200ms" src="images/frontend-screenshot-2.png"/>
										</div>
										<div class="col-sm-6">											
											<h3 class="text-uppercase text-light letter-spacing-2"><b>Manage Everything at one place</b></h3>
											<h5 class="no-margin pad-bot-30 text-lighter text-vertical-large letter-spacing-2"><i>Mauris sed lacus sit amet ligula faucibus suscipit. Integer a mattis diam, at sagittis dolor. 
											Aenean lectus ligula, mattis vitae ornare eget, sagittis non felis. Suspendisse et odio a leo fringilla efficitur ac eget eros.</i></h5>
											
											<!-- List - Icons -->
						
											<ul class="list-unstyled text-lighter">
												<li>
													<i class="pe-7s-star color-green mar-right-5"></i> 
													<span>Eiusmod tempor incididunt</span>
												</li>
												<li>
													<i class="pe-7s-star color-green mar-right-5"></i> 
													<span>Perspiciatis unde omnis</span>
												</li>
												<li>
													<i class="pe-7s-star color-green mar-right-5"></i> 
													<span>Voluptate velit esse</span>
												</li>
												<li>
													<i class="pe-7s-star color-green mar-right-5"></i> 
													<span>Neque porro quisquam</span>
												</li>
											</ul><!-- End of List - Icons -->
											<span><a target="_blank" href="https://wrapbootstrap.com/theme/nucleus-responsive-admin-frontend-WB05L5DH1" class="btn btn-lg btn-green letter-spacing-2 mar-top-30"><span class="fa fa-shopping-cart fa-lg"></span>&nbsp;&nbsp;Buy On Wrapbootstrap</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<section class="clearfix text-center pad-top-bot-100" style="background-color:#f5f5f5;">	
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<div class="row">
								
									<div class="col-md-12 pad-top-30 pad-bot-30">
										<h3 class="text-uppercase letter-spacing-2"><b>Voted Best Admin Of 2020</b></h3>
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<h5 class="text-lighter text-vertical-large"><i>Mauris sed lacus sit amet ligula faucibus suscipit. Integer a mattis diam, at sagittis dolor. 
												Aenean lectus ligula, mattis vitae ornare eget, sagittis non felis. Suspendisse et odio a leo fringilla efficitur ac eget eros.</i></h5>
											</div>
										</div>
									</div>

									<!-- Service Box 1 -->
									
									<div class="col-md-4 wow animated pulse" data-wow-delay="200ms">
										<h1 class="pe-7s-download img-rounded text-light bg-blue-grey pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
										<h4 class="tile-title weight-700"><i>Download</i></h4>
										<p class="mar-bot-30">Duis sit amet volutpat leo. Cum sociis natoque penatib et magnis dis parturien montes, nascetur ridiculus mus.</p>
									</div>

									<!-- Service Box 2 -->
									
									<div class="col-md-4 wow animated pulse" data-wow-delay="600ms">
										<h1 class="pe-7s-search img-rounded text-light bg-blue-grey pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
										<h4 class="tile-title weight-700"><i>Learn</i></h4>
										<p class="mar-bot-30">Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris elementum non felis et blandit. Vestibulum iaculis quam.</p>
									</div>

									<!-- Service Box 3 -->
									
									<div class="col-md-4 wow animated pulse" data-wow-delay="1000ms">
										<h1 class="pe-7s-share img-rounded text-light bg-blue-grey pad-top-15 pad-bot-15 pad-left-15 pad-right-15"></h1>
										<h4 class="tile-title weight-700"><i>Contribute</i></h4>
										<p class="mar-bot-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp incididunt ut labore et dolore mag.</p>     
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>			
			</div><!-- End of One Page Section - Features -->
			
			<!-- One Page Section - Pricing -->
			
			<div id="pricing" class="one-page-section">
				<section class="text-center pad-top-bot-100" style="background-image:url(images/world-phone.jpg);">	
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h3 class="text-uppercase text-light letter-spacing-2"><b>Smart Pricing for Maximum Efficiency</b></h3>
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<h5 class="text-lighter text-vertical-large"><i>Mauris sed lacus sit amet ligula faucibus suscipit. Integer a mattis diam, at sagittis dolor. 
										Aenean lectus ligula, mattis vitae ornare eget, sagittis non felis. Suspendisse et odio a leo fringilla efficitur ac eget eros.</i></h5>
									</div>	
									<div class="col-md-12">
										<div class="row pad-top-30">
											
											<!-- Pricing Table 1 -->
											
											<div class="col-md-4 col-sm-6 text-center">
												<div class="plan">
													<div class="plan-header">									
														<p class="type">Basic</p>
														<div class="price"><span class="currency">$</span>19<span class="timeframe">/mo</span></div>
														<p class="text">Lorem ipsum dolor sit amet</p>
													</div>
													<div class="content">
														<ul>
															<li><s>15 Email Accounts</s></li>
															<li>100GB Space</li>
															<li>1 Domain Name</li>
															<li><s>500GB Bandwidth</s></li>
														</ul>
														<div class="buy">
															<a target="_blank" href="https://wrapbootstrap.com/theme/nucleus-responsive-admin-frontend-WB05L5DH1" class="btn btn-hollow btn-lg">
																Buy Now
															</a>
														</div>
													</div>
												</div>
											</div>
											
											<!-- Pricing Table 2 -->
											
											<div class="col-md-4 col-sm-6 text-center">
												<div class="plan plan-light">
													<div class="plan-header">									
														<p class="type">Mixed</p>
														<div class="price"><span class="currency">$</span>29<span class="timeframe">/mo</span></div>
														<p class="text">Lorem ipsum dolor sit amet</p>
													</div>
													<div class="content">
														<ul>
															<li><s>15 Email Accounts</s></li>
															<li>100GB Space</li>
															<li>1 Domain Name</li>
															<li>500GB Bandwidth</li>
														</ul>
														<div class="buy">
															<a target="_blank" href="https://wrapbootstrap.com/theme/nucleus-responsive-admin-frontend-WB05L5DH1" class="btn btn-theme btn-lg">
																Buy Now
															</a>
														</div>
													</div>
												</div>
											</div>
											
											<!-- Pricing Table 3 -->
											
											<div class="col-md-4 col-sm-6 text-center">
												<div class="plan">
													<div class="plan-header">									
														<p class="type">Business</p>
														<div class="price"><span class="currency">$</span>39<span class="timeframe">/mo</span></div>
														<p class="text">Lorem ipsum dolor sit amet</p>
													</div>
													<div class="content">
														<ul>
															<li>15 Email Accounts</li>
															<li>100GB Space</li>
															<li>1 Domain Name</li>
															<li>500GB Bandwidth</li>
														</ul>
														<div class="buy">
															<a target="_blank" href="https://wrapbootstrap.com/theme/nucleus-responsive-admin-frontend-WB05L5DH1" class="btn btn-hollow btn-lg">
																Buy Now
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			
				<section class="text-center pad-top-100 pad-bot-100">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">	
								<h3 class="text-uppercase text-center letter-spacing-3"><b>Take a Sneak Peak Into Nucleus</b></h3>
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<h5 class="no-margin text-lighter text-center text-vertical-large"><i>Suspendisse et odio a leo fringilla efficitur ac eget eros. Mauris sed lacus sit amet ligula faucibus suscipit. 
										Integer a mattis diam, at sagittis dolor.</i></h5>
									</div>
								</div>
								<!-- Carousel with Default Pagination -->
						
								<div class="owl-carousel owl-theme mar-top-30" data-auto-height="true" data-items="5" data-items-desktop="5" data-items-tablet="[991,4]" data-items-mobile="[767,2]">
									<div class="item">
										<img alt="img" class="img-responsive img-thumbnail center-block" src="images/frontend-screenshot-3.png"/>
									</div>
									<div class="item">
										<img alt="img" class="img-responsive img-thumbnail center-block" src="images/frontend-screenshot-4.png"/>
									</div>
									<div class="item">
										<img alt="img" class="img-responsive img-thumbnail center-block" src="images/frontend-screenshot-5.png"/>
									</div>
									<div class="item">
										<img alt="img" class="img-responsive img-thumbnail center-block" src="images/frontend-screenshot-6.png"/>
									</div>
									<div class="item">
										<img alt="img" class="img-responsive img-thumbnail center-block" src="images/frontend-screenshot-7.png"/>
									</div>
									<div class="item">
										<img alt="img" class="img-responsive img-thumbnail center-block" src="images/frontend-screenshot-8.png"/>
									</div>
								</div><!-- End of Carousel -->
							</div>
						</div>
					</div>
				</section>
				
				<section class="pad-top-100 pad-bot-100" style="background:#1f232b!important;">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
							<h3 class="text-uppercase text-light text-center letter-spacing-3"><b>Our Statistics from the last Month</b></h3>
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<h5 class="mar-bot-30 text-lighter text-center text-vertical-large"><i>Suspendisse et odio a leo fringilla efficitur ac eget eros. Mauris sed lacus sit amet ligula faucibus suscipit. 
										Integer a mattis diam, at sagittis dolor.</i></h5>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
							
								<!-- Counters - Lined -->
				
								<div class="row text-center">
									<div class="col-md-3 wow animated zoomIn" data-wow-delay="200ms">
										<div class="nc-lined text-lighter pad-bot-50-mobile">
											<h1><span class="counter-icon pe-7s-cash color-green"></span></h1><br/>
											<h3>$<span class="counter">12,800</span></h3><br/>
											<h5>Revenue</h5>
										</div>
									</div>
									<div class="col-md-3 wow animated zoomIn" data-wow-delay="800ms">
										<div class="nc-lined text-lighter pad-bot-50-mobile">
											<h1><span class="counter-icon pe-7s-cloud-download color-green"></span></h1><br/>
											<h3><span class="counter">1300</span></h3><br/>
											<h5>Sales</h5>
										</div>
									</div>
									<div class="col-md-3 wow animated zoomIn" data-wow-delay="1400ms">
										<div class="nc-lined text-lighter pad-bot-50-mobile">
											<h1><span class="counter-icon pe-7s-medal color-green"></span></h1><br/>
											<h3><span class="counter">10</span></h3><br/>
											<h5>Awards</h5>
										</div>
									</div>
									<div class="col-md-3 wow animated zoomIn" data-wow-delay="2000ms">
										<div class="nc-lined text-lighter pad-bot-50-mobile">
											<h1><span class="counter-icon pe-7s-like color-green"></span></h1><br/>
											<h3><span class="counter">3690</span></h3><br/>
											<h5>Likes</h5>
										</div>
									</div>
								</div><!-- End of Counters - Lined -->
							</div>
						</div>
					</div>
				</section>
			</div>
			
			<!-- One Page Section - Contact -->
			
			<div id="contact" class="one-page-section">
				<div class="container-fluid no-padding">
				
					<!-- Vertically Centered Content Box - Desktop -->
					
					<div class="row vertical-center-box">
						<div class="col-md-6 pad-top-100 pad-bot-100" style="background-color:#f6f6f6;">
							<div class="wow animated fadeIn pad-top-100-desktop" data-wow-delay="200ms">
								<h4 class="no-margin text-center text-uppercase letter-spacing-3 mar-bot-10">Contact Info</h4>
								<p class="text-lighter letter-spacing-2 text-center"><i>Nulla consequat massa quis enim</i></p>
							</div>
							<div class="row text-center pad-bot-100-desktop">
								<div class="col-xs-10 col-xs-offset-1">
									<p class="mar-bot-15">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. 
									Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
									<h6><span class="text-uppercase"><b>Postal Address: </b></span><i>1234 Street Name, City Name, Country Name</i></h6>
									<h6><span class="text-uppercase"><b>Phone: </b></span><i>(123) 456-7890</i></h6>
									<h6 class="no-margin-bottom"><span class="text-uppercase"><b>Email: </b></span><a href="#"><i>mail@example.com</i></a></h6>
								</div>
							</div>
						</div>
						<div class="col-md-6 text-center pad-top-100 pad-bot-100">
							<div class="wow animated fadeIn" data-wow-delay="200ms">
								<h4 class="no-margin text-center text-uppercase letter-spacing-3 mar-bot-10">Drop Us a Line</h4>
								<p class="text-lighter letter-spacing-2 text-center"><i>Nulla consequat massa quis enim</i></p>
							</div>
							<div class="row">
								<div class="col-xs-10 col-xs-offset-1 pad-top-30">
									
									<!-- Form - Grey + Medium -->
								
									<form id="contactForm" class="row form-theme form-grey form-sm">
										<div class="col-sm-6">
											<div class="form-group wow animated slideInLeft" data-wow-delay="200ms">
												<label class="control-label letter-spacing-3"><small><i>Name</i></small></label>
												<input type="text" class="form-control text-center" name="firstName"/>
											</div>
										</div>
										<div class="col-sm-6 wow animated slideInRight" data-wow-delay="200ms">
											<div class="form-group">
												<label class="control-label letter-spacing-3"><small><i>Email</i></small></label>
												<input type="text" class="form-control text-center" name="email"/>
											</div>
										</div>
										<div class="col-sm-12 wow animated fadeInDown pad-top-35" data-wow-delay="400ms">
											<div class="form-group feedback-text-area">
												<label class="control-label letter-spacing-3"><small><i>Message</i></small></label>
												<textarea class="form-control form-text-area text-center" name="msg"></textarea>
											</div>
											<button class="btn btn-theme form-submit letter-spacing-3 mar-top-30" type="submit">&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;</button>
										</div>
									</form><!-- End of Form - Grey + Medium -->
									
								</div>
							</div>
						</div>	
					</div><!-- End of Vertically Centered Content Box - Desktop -->
					
				</div>
			
			</div><!-- End of One Page Section - Contact -->
			<hr class="no-margin"/>
			
			<!-- Footer - Light -->
			
			<footer class="footer footer-light no-margin" style="background-color:#f5f5f5;">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="#home" data-jump-offset="70" class="jump clearfix text-uppercase letter-spacing-3">Back <span class="pe-7s-angle-up pe-5x pe-va"></span> Top</a>
							<img alt="image" class="mar-bot-30" width="150" src="images/logo-dark.png"/>
							<h6 class="text-lighter no-margin text-uppercase letter-spacing-2 pad-bot-30">#1 Ranked Admin Template across 21 countries</h6>
							<span><a target="_blank" href="https://wrapbootstrap.com/theme/nucleus-responsive-admin-frontend-WB05L5DH1" class="btn btn-lg btn-green letter-spacing-2 mar-top-10"><span class="fa fa-shopping-cart fa-lg"></span>&nbsp;&nbsp;Buy On Wrapbootstrap</a></span>
							<ul class="list-unstyled list-inline footer-inline-links pad-top-15 pad-bot-10">
								<li>
									<ul class="social-icons circle list-inline list-unstyled">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</li>
							</ul>
							<h6 class="no-margin pad-bot-15 letter-spacing-2 word-spacing-5 text-uppercase"><i>©2016 Nucleus. All Rights Reserved.</i></h6>
						</div>
					</div>
				</div>
			</footer><!-- End of Footer - Light -->
					
		</div><!-- End of Page Content-->
		
		<!-- Loading Third Party Scripts -->

		<script src="third-party/jquery/jquery.min.js"></script>
		<script src="third-party/easing/js/jquery.easings.min.js"></script>
		<script src="third-party/bootstrap/js/bootstrap.min.js"></script>	
		<script src="third-party/nivo-lightbox/js/nivo-lightbox.min.js"></script>
		<script src="third-party/owl/js/owl.carousel.js"></script>
		<script src="third-party/counter-up/js/jquery.counterup.min.js"></script>
		<script src="third-party/form-validation/js/formValidation.js"></script>
		<script src="third-party/form-validation/js/framework/bootstrap.min.js"></script>
		<script src="third-party/waypoint/js/waypoints.min.js"></script>
		<script src="third-party/wow/js/wow.min.js"></script>
		<script src="third-party/slimscroll/jquery.slimscroll.js"></script>		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        
		<!-- Loading Theme's Scripts -->

		<script src="js/scripts.js"></script>
		<script src="js/custom.js"></script>
		
		<!-- Google Analytics Tracking -->
		
		<script>
        
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-58677854-6', 'auto');
			ga('send', 'pageview');
        
		</script>
		
	</body>
</html>