<!DOCTYPE html>
<html lang="en">
	<head>

        <!-- Meta Tags -->

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
		<title>Nucleus</title>
		<meta name="description" content="Premium HTML5 Template">
		<meta name="keywords" content=" HTML5, Premium Template, Minth Theme">
		<meta name="author" content="Amazyne Themes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Favicon -->

		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!-- Loading Google Fonts --> 

		<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>

		<!-- Loading Third Party Styles --> 

		<link rel="stylesheet" href="third-party/bootstrap/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="third-party/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="third-party/et-line/css/style.css">
		<link rel="stylesheet" href="third-party/elegant-icons/css/style.css">
		<link rel="stylesheet" href="third-party/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" href="third-party/pe-icon-7-stroke/css/helper.css">
		<link rel="stylesheet" href="third-party/nivo-lightbox/css/nivo-lightbox.css" /> 
		<link rel="stylesheet" href="third-party/nivo-lightbox/themes/default/default.css"/>
		<link rel="stylesheet" href="third-party/animate/css/animate.css"> 
		<link rel="stylesheet" href="third-party/owl/css/owl.carousel.css"> 
		<link rel="stylesheet" href="third-party/owl/css/owl.theme.css">
		<link rel="stylesheet" href="third-party/form-validation/css/formValidation.min.css">		
		
		<!-- Loading Theme's Styles -->

		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/custom.css">

		<!-- Script for IE < 9 -->

		<!--[if lt IE 9]>
		<script src="third-party/respond/js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="frontend one-page">

		<!-- Page Loader -->

		<div class="loader">
			<div class="spinner"></div>
		</div><!-- End of Page Loader -->
		
		<!-- Page Content + Uncover Footer Body -->
		
		<div class="page-content">
		
            <!-- Header - Top -->

            <header class="navigation">	
            
                <!-- Header Wrapper -->

                <div class="main-nav nav-icons-right header-icons header-right sticky full-width">
                    <div class="navbar navbar-default" role="navigation">
						<div class="container active">
							<div class="navbar-header">
								<a class="logo text-center-mobile text-center-tablet" href="home.html">
									<img alt="i mage" src="images/logo.png" />
								</a>
							</div>
                            <div class="navbar-icons">
								<ul class="nav navbar-nav navbar-right text-center-mobile" style="float:none;">
									<li>
										<a class="btn btn-theme pad-right-15 pad-top-5-tablet pad-bot-5-tablet mar-top-10-tablet mar-right-30 mar-left-30 mar-top-10-mobile mar-bot-5-mobile" href="lock-screen-1.html">Buy Now</a>
									</li>
								</ul>
                            </div>
                        </div>
                    </div>
				</div>
			</header> <!-- End of Header -->
			
			<!-- One Page Section - Home -->
			
			<div class="theme-background-section fs-overlay full-screen one-page-section" id="home" style="background-image:url('images/home-bg.jpg'); background-position:50%;" data-custom-height="" data-offset-container=".navigation">
				<div class="content-container">
					<div class="content-inner-container">
						<div class="one-page-intro-jump">
							<a href="#start" class="jump intro-center text-light" data-jump-offset="160"><span style="font-size:14px;"><b>LEARN MORE</b></span><br/><span class="arrow_down" style="font-size:30px;"></span></a>
						</div>
					</div>
				</div>
			</div><!-- End of Custom Theme Background Section + One Page Section - Home -->
			
			<div id="start" class="container text-center mar-top-100 pad-top-50 mar-bot-100">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="text-uppercase letter-spacing-1 no-margin bg-blue-grey text-light pad-top-15 pad-bot-15 pad-left-20 pad-right-20" style="display:inline-block;">Layouts</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Light</b></h4>
						<a target="_blank" href="index.html"><img alt="img" class="img-responsive center-block" src="images/light-demo.png"/></a>
					</div>
					<div class="col-sm-6 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Dark</b></h4>
						<a target="_blank" href="dark/index.html"><img alt="img" class="img-responsive center-block" src="images/dark-demo.png"/></a>
					</div>
				</div>				
			</div>
			
			<hr/>
			
			<div class="container text-center mar-top-100 pad-top-50 mar-bot-100">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="text-uppercase letter-spacing-1 no-margin bg-blue-grey text-light pad-top-15 pad-bot-15 pad-left-20 pad-right-20" style="display:inline-block;">Dashboards & Frontend</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Dashboard 1</b></h4>
						<a target="_blank" href="index.html"><img alt="img" class="img-responsive center-block" src="images/dashboard-1-demo.png"/></a>
					</div>
					<div class="col-sm-6 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Dashboard 2</b></h4>
						<a target="_blank" href="index-2.html"><img alt="img" class="img-responsive center-block" src="images/dashboard-2-demo.png"/></a>
					</div>
					<div class="col-sm-6 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Dashboard 3 (Ecommerce)</b></h4>
						<a target="_blank" href="index-3.html"><img alt="img" class="img-responsive center-block" src="images/dashboard-3-demo.png"/></a>
					</div>
					<div class="col-sm-6 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Frontend</b></h4>
						<a target="_blank" href="frontend.html"><img alt="img" class="img-responsive center-block" src="images/frontend-demo.png"/></a>
					</div>
				</div>				
			</div>
			
			<hr/>
			
			<div class="container text-center mar-top-100 pad-top-50 mar-bot-100">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="text-uppercase letter-spacing-1 no-margin bg-blue-grey text-light pad-top-15 pad-bot-15 pad-left-20 pad-right-20" style="display:inline-block;">Header Styles</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Light</b></h4>
						<a target="_blank" href="header-light.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-light.png"/></a>
					</div>
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Top</b></h4>
						<a target="_blank" href="dark/header-top.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-top.png"/></a>
					</div>
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Fullscreen</b></h4>
						<a target="_blank" href="dark/header-fullscreen.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-fullscreen.png"/></a>
					</div>
				</div>				
			</div>
			
			<hr/>
			
			<div class="container text-center mar-top-100 pad-top-50 mar-bot-100">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="text-uppercase letter-spacing-1 no-margin bg-blue-grey text-light pad-top-15 pad-bot-15 pad-left-20 pad-right-20" style="display:inline-block;">Header Accents</h3>
					</div>
				</div>
				<div class="row">					
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Dark Blue</b></h4>
						<a target="_blank" href="header-dark-blue.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-dark-blue.png"/></a>
					</div>
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Blue</b></h4>
						<a target="_blank" href="dark/header-blue.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-blue.png"/></a>
					</div>
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Blue Grey</b></h4>
						<a target="_blank" href="dark/header-blue-grey.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-blue-grey.png"/></a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Purple</b></h4>
						<a target="_blank" href="dark/header-purple.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-purple.png"/></a>
					</div>					
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Dark Green</b></h4>
						<a target="_blank" href="header-dark-green.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-dark-green.png"/></a>
					</div>
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Green</b></h4>
						<a target="_blank" href="dark/header-green.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-green.png"/></a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Red</b></h4>
						<a target="_blank" href="dark/header-red.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-red.png"/></a>
					</div>
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Orange</b></h4>
						<a target="_blank" href="dark/header-orange.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-Orange.png"/></a>
					</div>					
					<div class="col-sm-4 mar-top-50">
						<h4 class="text-uppercase mar-bot-25"><b>Yellow</b></h4>
						<a target="_blank" href="header-yellow.html"><img alt="img" class="img-responsive img-thumbnail center-block" src="images/header-yellow.png"/></a>
					</div>
				</div>			
			</div>
			
			<!-- Footer -->
			
			<footer class="footer no-margin" style="background-color:#f5f5f5;">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="#home" data-jump-offset="70" class="jump clearfix text-uppercase letter-spacing-3">Back <span class="pe-7s-angle-up pe-5x pe-va"></span> Top</a>
							<img alt="image" class="mar-bot-30" width="150px" src="images/logo-dark.png"/>
							<h6 class="text-lighter no-margin text-uppercase letter-spacing-2 pad-bot-30">#1 Ranked Admin Template across 21 countries</h6>
							<span><a href="#" class="btn btn-lg btn-dark-green letter-spacing-2 mar-top-10"><span class="fa fa-shopping-cart fa-lg"></span>&nbsp;&nbsp;Buy On Wrapbootstrap</a></span>
							<ul class="list-unstyled list-inline footer-inline-links pad-top-15 pad-bot-10">
								<li>
									<ul class="social-icons circle list-inline list-unstyled">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</li>
							</ul>
							<h6 class="no-margin pad-bot-15 letter-spacing-2 word-spacing-5 text-uppercase"><i>©2016 Nucleus. All Rights Reserved.</i></h6>
						</div>
					</div>
				</div>
			</footer><!-- End of Footer - Light -->
					
		</div><!-- End of Page Content-->
		
		<!-- Loading Third Party Scripts -->

		<script src="third-party/jquery/jquery.min.js"></script>
		<script src="third-party/easing/js/jquery.easings.min.js"></script>
		<script src="third-party/bootstrap/js/bootstrap.min.js"></script>	
		<script src="third-party/nivo-lightbox/js/nivo-lightbox.min.js"></script>
		<script src="third-party/owl/js/owl.carousel.js"></script>
		<script src="third-party/counter-up/js/jquery.counterup.min.js"></script>
		<script src="third-party/form-validation/js/formValidation.js"></script>
		<script src="third-party/form-validation/js/framework/bootstrap.min.js"></script>
		<script src="third-party/waypoint/js/waypoints.min.js"></script>
		<script src="third-party/wow/js/wow.min.js"></script>
		<script src="third-party/slimscroll/jquery.slimscroll.js"></script>		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
        
		<!-- Loading Theme's Scripts -->

		<script src="js/scripts.js"></script>
		<script src="js/custom.js"></script>
		
		<!-- Google Analytics Tracking -->
		
		<script>
        
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-58677854-4', 'auto');
			ga('send', 'pageview');
        
		</script>
		
	</body>
</html>