    img.wp-smiley,
    img.emoji {
        display: inline!important;
        border: none!important;
        box-shadow: none!important;
        height: 1em!important;
        width: 1em!important;
        margin: 0 .07em!important;
        vertical-align: -0.1em!important;
        background: none!important;
        padding: 0!important;
    }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out
    }

    .tp-caption a:hover {
        color: #ffa902
    }

    .eluidbaadf7a3 {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .zn_section.eluidbaadf7a3 {
        background-color: #d8d8d8;
    }

    .eluidf69694f7 {
        margin-top: 50px;
    }

    .eluidf69694f7 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluidf69694f7 .tbk__title {
        margin-bottom: 0px;
    }

    .eluidf69694f7 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 58px;
        line-height: 68px;
        font-weight: 700;
        color: #ffffff;
    }

    .eluidf69694f7 .tbk__icon {
        font-size: 28px;
    }

    .eluida68b9e90 {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .eluidc47d7302>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluidc47d7302>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 65%;
    }

    @media (min-width:768px) and (max-width:991px) {
        .eluidc47d7302>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }

    @media (max-width:767px) {
        .eluidc47d7302>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }

    .eluiddbbe2747 {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .eluiddbbe2747 .tbk__title {
        margin-bottom: 0px;
    }

    .eluiddbbe2747 .tbk__subtitle {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: italic;
    }

    .eluiddbbe2747 .tbk__icon {
        font-size: 28px;
    }

    .eluid5b07afb4 {
        margin-bottom: 0px;
    }

    .eluid8d04d473 {
        padding-top: 120px;
        padding-bottom: 75px;
    }

    .zn_section.eluid8d04d473 {
        background-color: #f8f8f8;
    }

    .eluid93dcee1c .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }

    .eluid93dcee1c .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }

    .eluid93dcee1c .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid93dcee1c:hover .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid93dcee1c span.kl-iconbox__icon {
        font-size: 64px
    }

    .eluidf18e692b .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }

    .eluidf18e692b .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }

    .eluidf18e692b .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluidf18e692b:hover .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluidf18e692b span.kl-iconbox__icon {
        font-size: 64px
    }

    .eluid915311b1 .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }

    .eluid915311b1 .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }

    .eluid915311b1 .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid915311b1:hover .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid915311b1 span.kl-iconbox__icon {
        font-size: 64px
    }

    .eluid4c9db743 .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }

    .eluid4c9db743 .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }

    .eluid4c9db743 .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid4c9db743:hover .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid4c9db743 span.kl-iconbox__icon {
        font-size: 64px
    }

    .eluid31e6aa2f .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }

    .eluid31e6aa2f .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }

    .eluid31e6aa2f .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid31e6aa2f:hover .kl-iconbox__icon {
        color: #9a8164;
    }

    .eluid31e6aa2f span.kl-iconbox__icon {
        font-size: 64px
    }

    .eluid5567d23c {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .eluidd1590564>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluidd1590564>.znColumnElement-innerWrapper {
        padding-bottom: 120px;
    }

    .eluid7970f6fb {
        padding-top: 0px;
        padding-bottom: 35px;
    }

    .eluid7970f6fb .tbk__title {
        margin-bottom: 10px;
    }

    .eluid7970f6fb .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        color: #0a0a0a;
    }

    .eluid7970f6fb .tbk__icon {
        font-size: 28px;
    }

    .eluidcac9c757>.znColumnElement-innerWrapper {
        background-color: #f8f8f8;
    }

    .eluidcac9c757>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluidea1e7292 {
        padding-top: 1%;
    }

    .eluidea1e7292 {}

    .eluid6e6d0086>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluid6e6d0086>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 80%;
    }

    @media (min-width:768px) and (max-width:991px) {
        .eluid6e6d0086>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }

    @media (max-width:767px) {
        .eluid6e6d0086>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }

    .eluid6e6d0086>.znColumnElement-innerWrapper {
        padding-top: 88px;
        padding-right: 0px;
        padding-bottom: 88px;
        padding-left: 80px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluid6e6d0086>.znColumnElement-innerWrapper {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluid6e6d0086>.znColumnElement-innerWrapper {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .eluid6e6d0086>.znColumnElement-innerWrapper {
            padding-top: 30px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 30px;
        }
    }

    .eluid5458e966 {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .eluid5458e966 .tbk__title {
        margin-bottom: 15px;
    }

    .eluid5458e966 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 24px;
        font-weight: 700;
        color: #0a0a0a;
    }

    .eluid5458e966 .tbk__subtitle {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        font-weight: 700;
        color: #afafaf;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid5458e966 .tbk__icon {
        font-size: 28px;
    }

    .eluidb65845f7 {
        padding-top: 0px;
        padding-bottom: 2px;
    }

    .eluid5d109422 .elm-sc-icon {
        padding: 15px
    }

    .eluid5d109422 .sc--clean .elm-sc-icon-0 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluid5d109422 .sc--clean .elm-sc-icon-1 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluid5d109422 .sc--clean .elm-sc-icon-2 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluid5d109422 .sc--clean .elm-sc-icon-3 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluidfa69257e>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluidfa69257e>.znColumnElement-innerWrapper {
        margin-top: -100px;
        margin-right: 30px;
        margin-bottom: -30px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluidfa69257e>.znColumnElement-innerWrapper {
            margin-top: -30px;
            margin-bottom: -30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluidfa69257e>.znColumnElement-innerWrapper {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .eluidfa69257e>.znColumnElement-innerWrapper {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 30px;
        }
    }

    .eluid9b74d6e0 {
        margin-bottom: 0px;
    }

    .eluide4efca84>.znColumnElement-innerWrapper {
        background-color: #f8f8f8;
    }

    .eluide4efca84>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluide4efca84>.znColumnElement-innerWrapper {
        margin-top: 160px;
    }

    .eluid18a34626 {
        padding-top: 1%;
    }

    .eluid18a34626 {}

    .eluid3fb4f01a>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluid3fb4f01a>.znColumnElement-innerWrapper {
        margin-top: -100px;
        margin-right: 0px;
        margin-bottom: -30px;
        margin-left: 30px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluid3fb4f01a>.znColumnElement-innerWrapper {
            margin-top: -30px;
            margin-bottom: -30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluid3fb4f01a>.znColumnElement-innerWrapper {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .eluid3fb4f01a>.znColumnElement-innerWrapper {
            margin-top: 30px;
            margin-right: 0px;
            margin-bottom: 30px;
            margin-left: 0px;
        }
    }

    .eluid7c058205 {
        margin-bottom: 0px;
    }

    .eluidb98fb348>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluidb98fb348>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 80%;
    }

    @media (min-width:768px) and (max-width:991px) {
        .eluidb98fb348>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }

    @media (max-width:767px) {
        .eluidb98fb348>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }

    .eluidb98fb348>.znColumnElement-innerWrapper {
        padding-top: 88px;
        padding-right: 0px;
        padding-bottom: 88px;
        padding-left: 80px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluidb98fb348>.znColumnElement-innerWrapper {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluidb98fb348>.znColumnElement-innerWrapper {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .eluidb98fb348>.znColumnElement-innerWrapper {
            padding-top: 30px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 30px;
        }
    }

    .eluidd30e46cd {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .eluidd30e46cd .tbk__title {
        margin-bottom: 15px;
    }

    .eluidd30e46cd .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 24px;
        font-weight: 700;
        color: #0a0a0a;
    }

    .eluidd30e46cd .tbk__subtitle {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        font-weight: 700;
        color: #afafaf;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluidd30e46cd .tbk__icon {
        font-size: 28px;
    }

    .eluidf10b0141 {
        padding-top: 0px;
        padding-bottom: 2px;
    }

    .eluid21f94adf .elm-sc-icon {
        padding: 15px
    }

    .eluid21f94adf .sc--clean .elm-sc-icon-0 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluid21f94adf .sc--clean .elm-sc-icon-1 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluid21f94adf .sc--clean .elm-sc-icon-2 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluid21f94adf .sc--clean .elm-sc-icon-3 .elm-sc-icon {
        color: #0a0a0a;
    }

    .eluida0418735 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .zn_section.eluida0418735 {
        background-color: #0f0f0f;
    }

    .eluid53f73c1e>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluid53f73c1e>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 90%;
    }

    .eluiddef9a166 {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .eluiddef9a166 .tbk__title {
        margin-bottom: 0px;
    }

    .eluiddef9a166 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluiddef9a166 .tbk__icon {
        font-size: 28px;
    }

    .eluid64a81ec9 {
        padding-top: 1%;
    }

    .eluid64a81ec9 {}

    .eluid1c9f6316 {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .eluid1c9f6316 .tbk__title {
        margin-bottom: 25px;
    }

    .eluid1c9f6316 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid1c9f6316 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        ;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        color: #7a7a7a;
    }

    .eluid1c9f6316 .tbk__icon {
        font-size: 28px;
    }

    .eluid6e7d8288 {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .eluid6e7d8288 .tbk__title {
        margin-bottom: 25px;
    }

    .eluid6e7d8288 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid6e7d8288 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        ;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        color: #7a7a7a;
    }

    .eluid6e7d8288 .tbk__icon {
        font-size: 28px;
    }

    .eluid3791eaaf {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .eluid3791eaaf .tbk__title {
        margin-bottom: 0px;
    }

    .eluid3791eaaf .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid3791eaaf .tbk__icon {
        font-size: 28px;
    }

    .eluidf18bfc37 .elm-sc-icon {
        font-size: 12px;
        padding: 60px
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-0 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-0:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-1 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-1:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-2 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-2:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-3 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-3:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }