    img.wp-smiley,
    img.emoji {
        display: inline!important;
        border: none!important;
        box-shadow: none!important;
        height: 1em!important;
        width: 1em!important;
        margin: 0 .07em!important;
        vertical-align: -0.1em!important;
        background: none!important;
        padding: 0!important;
    }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out
    }

    .tp-caption a:hover {
        color: #ffa902
    }

    .eluid4fa13cc1 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid4fa13cc1 .zn-section-height--custom_height {
        min-height: 100vh;
    }

    .eluid9066ed22>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluid9066ed22>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 23%;
    }

    .eluid15360cd6 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid15360cd6 .tbk__title {
        margin-bottom: 0px;
    }

    .eluid15360cd6 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 42px;
        line-height: 52px;
        font-weight: 900;
        color: #ffffff;
    }

    .eluid15360cd6 .tbk__icon {
        font-size: 28px;
    }

    .eluide7065c88>.znColumnElement-innerWrapper {
        background-color: #967753;
    }

    .eluide7065c88>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluide7065c88>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 85%;
    }

    .eluide7065c88>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid7c8ce271 .btn-element-0 {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff!important;
        ;
        letter-spacing: 1px;
    }

    .eluida8b7d54d {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluida8b7d54d .zn-section-height--custom_height {
        min-height: 100vh;
    }

    .eluid63ea82d6>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluid63ea82d6>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 23%;
    }

    .eluid226976d0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid226976d0 .tbk__title {
        margin-bottom: 0px;
    }

    .eluid226976d0 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 42px;
        line-height: 52px;
        font-weight: 900;
        color: #ffffff;
    }

    .eluid226976d0 .tbk__icon {
        font-size: 28px;
    }

    .eluide886fb32>.znColumnElement-innerWrapper {
        background-color: #967753;
    }

    .eluide886fb32>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluide886fb32>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 85%;
    }

    .eluide886fb32>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid5a925823 .btn-element-0 {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff!important;
        ;
        letter-spacing: 1px;
    }

    .eluid5ac71f93 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid5ac71f93 .zn-section-height--custom_height {
        min-height: 100vh;
    }

    .eluid38bb11b8>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluid38bb11b8>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 23%;
    }

    .eluideac29f1c {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluideac29f1c .tbk__title {
        margin-bottom: 0px;
    }

    .eluideac29f1c .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 42px;
        line-height: 52px;
        font-weight: 900;
        color: #ffffff;
    }

    .eluideac29f1c .tbk__icon {
        font-size: 28px;
    }

    .eluid86431475>.znColumnElement-innerWrapper {
        background-color: #967753;
    }

    .eluid86431475>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluid86431475>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 85%;
    }

    .eluid86431475>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid2a3bad0b .btn-element-0 {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff!important;
        ;
        letter-spacing: 1px;
    }

    .eluid4ad7f51c {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid4ad7f51c .zn-section-height--custom_height {
        min-height: 100vh;
    }

    .eluide183e8f4>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluide183e8f4>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 23%;
    }

    .eluide37883d8 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluide37883d8 .tbk__title {
        margin-bottom: 0px;
    }

    .eluide37883d8 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 42px;
        line-height: 52px;
        font-weight: 900;
        color: #ffffff;
    }

    .eluide37883d8 .tbk__icon {
        font-size: 28px;
    }

    .eluid96b85d81>.znColumnElement-innerWrapper {
        background-color: #967753;
    }

    .eluid96b85d81>.znColumnElement-innerWrapper {
        height: 200px;
    }

    .eluid96b85d81>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 85%;
    }

    .eluid96b85d81>.znColumnElement-innerWrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .eluid0bad8efd .btn-element-0 {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff!important;
        ;
        letter-spacing: 1px;
    }

    .eluida0418735 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .zn_section.eluida0418735 {
        background-color: #0f0f0f;
    }

    .eluid53f73c1e>.znColumnElement-innerWrapper {
        height: px;
    }

    .eluid53f73c1e>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 90%;
    }

    .eluiddef9a166 {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .eluiddef9a166 .tbk__title {
        margin-bottom: 0px;
    }

    .eluiddef9a166 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluiddef9a166 .tbk__icon {
        font-size: 28px;
    }

    .eluid64a81ec9 {
        padding-top: 1%;
    }

    .eluid64a81ec9 {}

    .eluid1c9f6316 {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .eluid1c9f6316 .tbk__title {
        margin-bottom: 25px;
    }

    .eluid1c9f6316 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid1c9f6316 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        ;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        color: #7a7a7a;
    }

    .eluid1c9f6316 .tbk__icon {
        font-size: 28px;
    }

    .eluid6e7d8288 {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .eluid6e7d8288 .tbk__title {
        margin-bottom: 25px;
    }

    .eluid6e7d8288 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid6e7d8288 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        ;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        color: #7a7a7a;
    }

    .eluid6e7d8288 .tbk__icon {
        font-size: 28px;
    }

    .eluid3791eaaf {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .eluid3791eaaf .tbk__title {
        margin-bottom: 0px;
    }

    .eluid3791eaaf .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        ;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .eluid3791eaaf .tbk__icon {
        font-size: 28px;
    }

    .eluidf18bfc37 .elm-sc-icon {
        font-size: 12px;
        padding: 60px
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-0 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-0:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-1 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-1:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-2 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-2:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-3 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }

    .eluidf18bfc37 .sc--custom .elm-sc-icon-3:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }