    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }

    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out
    }

    .tp-caption a:hover {
        color: #ffa902
    }

    .eluid324d798c {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    
    .zn_section.eluid324d798c {
        background-color: #ffffff;
    }
    
    .eluideb4037e4>.znColumnElement-innerWrapper {
        height: 620px;
    }
    
    @media (min-width:992px) and (max-width:1199px) {
        .eluideb4037e4>.znColumnElement-innerWrapper {
            height: auto;
        }
    }
    
    @media (min-width:768px) and (max-width:991px) {
        .eluideb4037e4>.znColumnElement-innerWrapper {
            height: auto;
        }
    }
    
    @media (max-width:767px) {
        .eluideb4037e4>.znColumnElement-innerWrapper {
            height: auto;
        }
    }
    
    .eluideb4037e4>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 90%;
    }
    
    @media (min-width:768px) and (max-width:991px) {
        .eluideb4037e4>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }
    
    @media (max-width:767px) {
        .eluideb4037e4>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 767px) {
        .eluideb4037e4>.znColumnElement-innerWrapper {
            padding-bottom: 60px;
        }
    }
    
    .eluidab1fca96 {
        padding-top: 0px;
        padding-right: 100px;
        padding-bottom: 50px;
    }
    
    .eluidab1fca96 .tbk__title {
        margin-bottom: 30px;
    }
    
    .eluidab1fca96 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        color: #000000;
    }
    
    .eluidab1fca96 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;

        font-size: 13px;
        line-height: 36px;
        color: #545454;
    }
    
    .eluidab1fca96 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid4cc8c27a {
        padding-top: 1%;
    }
    
    .eluid4cc8c27a {}
    
    .eluidce614128 {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
    .eluidce614128 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluidce614128 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #0a0a0a;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluidce614128 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid8567233c {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
    .eluid8567233c .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluid8567233c .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #0a0a0a;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluid8567233c .tbk__icon {
        font-size: 28px;
    }
    
    .eluidafd69f2e {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
    .eluidafd69f2e .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluidafd69f2e .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #0a0a0a;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluidafd69f2e .tbk__icon {
        font-size: 28px;
    }
    
    .eluid1f537e87>.znColumnElement-innerWrapper {
        background-color: #9a8164;
    }
    
    .eluid1f537e87>.znColumnElement-innerWrapper {
        height: 380px;
    }
    
    @media (min-width:768px) and (max-width:991px) {
        .eluid1f537e87>.znColumnElement-innerWrapper {
            height: 220px;
        }
    }
    
    .eluid1f537e87>.znColumnElement-innerWrapper {
        margin-top: 240px;
        margin-right: -90px;
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluid1f537e87>.znColumnElement-innerWrapper {
            margin-top: 120px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluid1f537e87>.znColumnElement-innerWrapper {
            margin-top: 125px;
        }
    }
    
    .eluid1a931362>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluid1a931362>.znColumnElement-innerWrapper {
        margin-left: -250px;
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluid1a931362>.znColumnElement-innerWrapper {
            margin-left: -200px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluid1a931362>.znColumnElement-innerWrapper {
            margin-left: -160px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .eluid1a931362>.znColumnElement-innerWrapper {
            margin-left: 0px;
        }
    }
    
    .eluid74118386 {
        margin-bottom: 0px;
    }
    
    .eluid0ca640c6 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .zn_section.eluid0ca640c6 {
        background-color: #ffffff;
    }
    
    .eluidac33d882 {
        height: 760px;
    }
    
    @media (min-width:992px) and (max-width:1199px) {
        .eluidac33d882 {
            height: 540px;
        }
    }
    
    @media (min-width:768px) and (max-width:991px) {
        .eluidac33d882 {
            height: 460px;
        }
    }
    
    @media (max-width:767px) {
        .eluidac33d882 {
            height: 460px;
        }
    }
    
    .eluide350d9a2>.znColumnElement-innerWrapper {
        background-color: #ffffff;
    }
    
    .eluide350d9a2>.znColumnElement-innerWrapper {
        height: autopx;
    }
    
    .eluide350d9a2>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 70%;
    }
    
    @media (min-width:992px) and (max-width:1199px) {
        .eluide350d9a2>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }
    
    @media (min-width:768px) and (max-width:991px) {
        .eluide350d9a2>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }
    
    @media (max-width:767px) {
        .eluide350d9a2>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 80%;
        }
    }
    
    .eluide350d9a2>.znColumnElement-innerWrapper {
        margin-top: 165px;
        margin-right: 0px;
        margin-left: -140px;
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluide350d9a2>.znColumnElement-innerWrapper {
            margin-top: 100px;
            margin-left: -100px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluide350d9a2>.znColumnElement-innerWrapper {
            margin-left: -100px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .eluide350d9a2>.znColumnElement-innerWrapper {
            margin-top: 0px;
            margin-left: 0px;
        }
    }
    
    .eluide350d9a2>.znColumnElement-innerWrapper {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 80px;
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluide350d9a2>.znColumnElement-innerWrapper {
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 60px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluide350d9a2>.znColumnElement-innerWrapper {
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 40px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .eluide350d9a2>.znColumnElement-innerWrapper {
            padding-top: 60px;
            padding-bottom: 0px;
            padding-left: 0px;
        }
    }
    
    .eluide350d9a2 {
        z-index: 2
    }
    
    .eluidda7cc709 {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    .eluidda7cc709 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluidda7cc709 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #b5b5b5;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluidda7cc709 .tbk__subtitle {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 68px;
        line-height: 78px;
        font-weight: 700;
        color: #0f0f0f;
    }
    
    .eluidda7cc709 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid2e92930b {
        padding-top: 0px;
        padding-bottom: 35px;
    }
    
    .eluid2e92930b .tbk__title {
        margin-bottom: 15px;
    }
    
    .eluid2e92930b .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 68px;
        line-height: 78px;
        font-weight: 700;
        color: #0a0a0a;
        letter-spacing: 0;
        text-transform: capitalize;
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .eluid2e92930b .tbk__title {
            font-size: 48px;
            line-height: 58px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width:991px) {
        .eluid2e92930b .tbk__title {
            font-size: 38px;
            line-height: 48px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .eluid2e92930b .tbk__title {
            font-size: 28px;
            line-height: 38px;
        }
    }
    
    .eluid2e92930b .tbk__subtitle {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 68px;
        line-height: 78px;
        font-weight: 700;
        color: #0f0f0f;
    }
    
    .eluid2e92930b .tbk__icon {
        font-size: 28px;
    }
    
    .eluid5f1b39e2 .btn-element-0 {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #9a8164 !important;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluida0b1348f {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    
    .zn_section.eluida0b1348f {
        background-color: #ffffff;
    }
    
    .eluidec9c3d35>.znColumnElement-innerWrapper {
        height: px;
    }
    
    @media screen and (max-width: 767px) {
        .eluidec9c3d35>.znColumnElement-innerWrapper {
            margin-bottom: 60px;
        }
    }
    
    .eluid328d0417 {
        margin-bottom: 30px;
    }
    
    .eluid328d0417 {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 220px;
        line-height: 200px;
        font-weight: 700;
        color: #0f0f0f;
    }
    
    .eluid19237e39 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .eluid19237e39 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluid19237e39 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 260px;
        line-height: 240px;
        font-weight: 700;
        color: #0a0a0a;
    }
    
    .eluid19237e39 .tbk__subtitle {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 28px;
        font-weight: 700;
        color: #cccccc;
    }
    
    .eluid19237e39 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid7a8bd8d9>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluid7a8bd8d9>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 90%;
    }
    
    @media (max-width:767px) {
        .eluid7a8bd8d9>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
            width: 100%;
        }
    }
    
    .eluide9a25f06 {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    
    .eluide9a25f06 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluide9a25f06 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #0f0f0f;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluide9a25f06 .tbk__icon {
        font-size: 28px;
    }
    
    .eluidf0786fd3 {
        padding-top: 1%;
    }
    
    .eluidf0786fd3 {}
    
    .eluid2e2a604a>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluid4f168ec0 {
        margin-bottom: 30px;
    }
    
    .eluid7b360401>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluid152d9ef8 {
        margin-bottom: 30px;
    }
    
    .eluid78c66325>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluide7719b45 {
        margin-bottom: 30px;
    }
    
    .eluid9b5b9945>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluid72ed044d {
        margin-bottom: 30px;
    }
    
    .eluid85d1507d>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluide85d18ba {
        margin-bottom: 30px;
    }
    
    .eluidcfbb8e58>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluidc8ccac25 {
        margin-bottom: 30px;
    }
    
    .eluid34b242b3 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .zn_section.eluid34b242b3 {
        background-color: #0f0f0f;
    }
    
    .eluid97011b38 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    
    .eluid97011b38 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluid97011b38 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 30px;
        line-height: 40px;
        font-weight: 900;
        color: #ffffff;
    }
    
    .eluid97011b38 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;

        font-size: 13px;
        line-height: 36px;
        color: #545454;
    }
    
    .eluid97011b38 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid1ea5e7ac .css3panels-container {
        height: 720px;
    }
    
    @media (min-width: 1200px) {
        .eluid1ea5e7ac .css3panels-container.css3panel--hasSkew,
        .eluid1ea5e7ac .css3panel--hasSkew .css3panel-mainimage-wrapper {
            margin-left: -72px;
            margin-right: -72px
        }
        .eluid1ea5e7ac .css3panel--hasSkew .css3panel:not(:first-child) .css3panel-caption.text-left {
            padding-left: 72px
        }
        .eluid1ea5e7ac .css3panel--hasSkew .css3panel:not(:last-child) .css3panel-caption.text-right {
            padding-right: 72px
        }
        .eluid1ea5e7ac .css3panel--0 .css3panel-title {
            font-family: "Poppins", Helvetica, Arial, sans-serif;    
            font-size: 28px;
            line-height: 38px;
            font-weight: 700;
            color: #ffffff;
        }
        .eluid1ea5e7ac .css3panel--1 .css3panel-title {
            font-size: 28px;
            line-height: 38px;
            color: #ffffff;
        }
    }
    
    .eluid1ea5e7ac .css3panels--resize .css3panel {
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    
    .eluid1ea5e7ac .css3panels--resize .css3panel:hover {
        -webkit-box-flex: 1.1;
        -webkit-flex: 1.1;
        -ms-flex: 1.1;
        flex: 1.1
    }
    
    .eluided271aad {
        padding-top: 120px;
        padding-bottom: 75px;
    }
    
    .zn_section.eluided271aad {
        background-color: #f8f8f8;
    }
    
    .eluidf0f5c7ff .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }
    
    .eluidf0f5c7ff .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }
    
    .eluidf0f5c7ff .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluidf0f5c7ff:hover .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluidf0f5c7ff span.kl-iconbox__icon {
        font-size: 64px
    }
    
    .eluid9f7a0a1d .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }
    
    .eluid9f7a0a1d .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }
    
    .eluid9f7a0a1d .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluid9f7a0a1d:hover .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluid9f7a0a1d span.kl-iconbox__icon {
        font-size: 64px
    }
    
    .eluide3f93669 .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }
    
    .eluide3f93669 .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }
    
    .eluide3f93669 .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluide3f93669:hover .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluide3f93669 span.kl-iconbox__icon {
        font-size: 64px
    }
    
    .eluidcfb7c3bf .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }
    
    .eluidcfb7c3bf .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }
    
    .eluidcfb7c3bf .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluidcfb7c3bf:hover .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluidcfb7c3bf span.kl-iconbox__icon {
        font-size: 64px
    }
    
    .eluidb5ee0e19 .kl-iconbox__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 30px;
        font-weight: 700;
        color: #0a0a0a;
        font-style: normal;
    }
    
    .eluidb5ee0e19 .kl-iconbox__desc {
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
    }
    
    .eluidb5ee0e19 .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluidb5ee0e19:hover .kl-iconbox__icon {
        color: #9a8164;
    }
    
    .eluidb5ee0e19 span.kl-iconbox__icon {
        font-size: 64px
    }
    
    .eluid4f1ac500 {
        margin-top: 0px;
    }
    
    .eluid4f1ac500 {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .zn_section.eluid4f1ac500 {
        background-color: #ffffff;
    }
    
    .eluid412c40f5 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 60px;
    }
    
    .eluid412c40f5 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluid412c40f5 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 30px;
        line-height: 40px;
        font-weight: 900;
        color: #0f0f0f;
    }
    
    .eluid412c40f5 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;

        font-size: 13px;
        line-height: 36px;
        color: #545454;
    }
    
    .eluid412c40f5 .tbk__icon {
        font-size: 28px;
    }
    
    .eluida0418735 {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .zn_section.eluida0418735 {
        background-color: #0f0f0f;
    }
    
    .eluid53f73c1e>.znColumnElement-innerWrapper {
        height: px;
    }
    
    .eluid53f73c1e>.znColumnElement-innerWrapper>.znColumnElement-innerContent:not(.zn_pb_no_content) {
        width: 90%;
    }
    
    .eluiddef9a166 {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    .eluiddef9a166 .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluiddef9a166 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluiddef9a166 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid64a81ec9 {
        padding-top: 1%;
    }
    
    .eluid64a81ec9 {}
    
    .eluid1c9f6316 {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    
    .eluid1c9f6316 .tbk__title {
        margin-bottom: 25px;
    }
    
    .eluid1c9f6316 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluid1c9f6316 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;

        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        color: #7a7a7a;
    }
    
    .eluid1c9f6316 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid6e7d8288 {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    
    .eluid6e7d8288 .tbk__title {
        margin-bottom: 25px;
    }
    
    .eluid6e7d8288 .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluid6e7d8288 .tbk__subtitle {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;

        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        color: #7a7a7a;
    }
    
    .eluid6e7d8288 .tbk__icon {
        font-size: 28px;
    }
    
    .eluid3791eaaf {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    .eluid3791eaaf .tbk__title {
        margin-bottom: 0px;
    }
    
    .eluid3791eaaf .tbk__title {
        font-family: "Poppins", Helvetica, Arial, sans-serif;
        font-size: 11px;
        line-height: 22px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .eluid3791eaaf .tbk__icon {
        font-size: 28px;
    }
    
    .eluidf18bfc37 .elm-sc-icon {
        font-size: 12px;
        padding: 60px
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-0 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-0:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-1 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-1:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-2 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-2:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-3 .elm-sc-icon {
        color: #969696;
        background-color: #111111;
    }
    
    .eluidf18bfc37 .sc--custom .elm-sc-icon-3:hover .elm-sc-icon {
        color: #ffffff;
        background-color: #967753;
    }